
body {
    font-family: sans-serif; 
    background-color: white; 
    color: black; 
    text-align: left; 
}

.header {
    height: 50px;
    width: 100%; 
    font-size: 23px;
    background-color: #ccc;
    text-align: right;
    margin-top: -20px;
    overflow:hidden;
    color: #FFFFFF;
    
}

.naslov {
    background-color: #f73a18;
    width: 100%;
    height: 60px;
    color: white;
    text-align: center;
    font-size: 30px;  
}
.menu {
    min-height: 800px;
    background-color: #ccc;
    width: 15%;
    display: flex;
    justify-content: space-between;
}
.menu a {
  color: white;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover { 
	color: orange; 
    background-color: #eee;
}
.menu a.active {
  background-color: #f73a18;
  color: white;
}


#sadrzaj {
    font-family: serif; 
    font-weight: bold; 
    line-height: 1.5; 
    text-align: justify; 
     display: flex;
  justify-content: space-between;
}

    
footer {
    background-color: #f73a18;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 18px;  
    margin-top: -15px;
}